@import "tailwindcss";

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.heart-button {
  animation: heartbeat 1s infinite;
  fill: red;
  color: red;
  opacity: 1;
  cursor: pointer;
}
.neon-text {
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
    0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
      0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

.shake {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(-2px, 0) rotate(-3deg);
  }
  50% {
    transform: translate(2px, 0) rotate(3deg);
  }
  75% {
    transform: translate(-2px, 0) rotate(-3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
